body{
       font-family:"Fortnite", fantasy;
 	 color: #FFFFFF;
    }

    h1  {
 	   font-size: 2.5em;
 	   text-align: center;
    }

   table {
 	   margin-left: auto;
 	   margin-right: auto;
 	   text-align: center;
 	   border-collapse: collapse;
   }

   tr   {
	  border: 1px solid #ffffff;
	  text-align: center;
	  background-color:#ffffff;
  }

  th   {
	 text-align: center;
	 color: #ffffff;
	 background-color: #ffffff;
  }